<div class="">
    <h1>New Wikis</h1>

    <div class="row">
        <div class="col-md-8">
            <p>Guidelines for wikis</p>
            <ul>
                <li>Make sure the wiki is appropriate.</li>
                <li>Never insult dogs.</li>
                <li>Smile when you type, I'm watching you...</li>
            </ul>
        </div>
        <div class="col-md-8">
            <%= render 'form' %>
            <%= link_to 'Back', wikis_path %>
        </div>
    </div>
</div>
