<h1>Upgrade to a Premium Account</h1>
<h5>Premium Account</h5>
<p>Available for only $9.99 a month!</p>
<ul>
  <li>Access to Private Wikis.</li>
  <li>Future access to limited-release content.</li>
  <li>Add collaborators to your very own private wikis.</li>
</ul>
<%= form_tag subscriptions_path do %>
  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Wiki Here, Wiki Now"
    data-allow-remember-me=false
    data-description="Wiki Here, Wiki Now Premium Membership">
  </script>
<% end %>
